body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    background-color: #720707;
    /* height: 100vh; */
    margin: auto;

}


header {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: black;
    
}

.box1 {
    color: #b81616;
    font-size: .5em;
}

.box2 {
    color: rgb(110, 108, 108);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    color: #ff040498;

}
.box1 {
    margin-top: 0;
    padding-top: 0;
}

li {
    font-size: 0.5em;
}
button {
    background-color: black;
    color: #720707;
    border-color: #720707;

}

input {
    background-color: black;
    border-radius: 1em;
    border-color: #720707;
    color: #b81616;
    
}

.placeholder {
    color: black;
}

.emblemBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.emblem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100px;
}

nav {
    background-color: #1d1b1b;
}