body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    background-color: red;
    /* height: 100vh; */
    margin: auto;

}


header {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    background-color: black;
    
}

.box1 {
    color: blue;
    font-size: .5em;
}

.box2 {
    color: green;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    color: red;

}
.box1 {
    margin-top: 0;
    padding-top: 0;
}

li {
    font-size: 0.5em;
}
button {
    background-color: black;
    color: red;
    border-color: red;

}

input {
    background-color: black;
    border-radius: 1em;
    border-color: red;
    
}

.placeholder {
    color: black;
}

.emblemBox {
    display: flex;
    justify-content: center;
    align-items: center;
}
.emblem {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100px;
}